$mapaColores: (1:rgb(255, 65, 128), 2: rgb(255, 255, 82), 3: white) ;
$color-rosa: rgb(255, 65, 128);

/* Vars */

$tamanoBoton: 100px;
$tamanoTipo: 14px;

/* Maps */

$redes:(facebook:#ffd904, whatsapp:#ff9823, instagram:#ff316f);
